html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  font: italic 1.6rem 'Times New Roman', Arial, sans-serif;
  display: flex;
  margin: 0;
  text-align: center;
  color: white;
  background: black;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: gold;
}

a:hover {
  color: #e1f;
}

p {
  text-transform: capitalize;
}

.logo {
  font-family: 'Brush Script MT', Papyrus;
  font-size: 3rem;
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  html {
    font-size: 125%;
  }
}
