html, body {
  height: 100%;
}
body {
  font: italic 16px/1.5 'Times New Roman', Arial, sans-serif;
  display: flex;
  margin: 0;
  text-align: center;
  color: white;
  background: black;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: gold;
}
a:hover {
  color: #e1f;
}
p {
  text-transform: capitalize;
}
.logo {
  font-family: 'Brush Script MT', Papyrus;
  font-size: 3em;
}
