*,
::before,
::after {
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  font-size: 62.5%;
}

body,
h1,
h2,
p,
ul,
li,
pre {
  margin: 0;
  padding: 0;
}

body {
  font: 1.4rem/1.5 'Times New Roman', Arial, sans-serif;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.octicon {
  fill: currentColor;
}
