*,
::before,
::after {
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

html {
  font-size: 62.5%;
}

body,
h1,
h2,
p,
ul,
li,
pre {
  margin: 0;
  padding: 0;
}

body {
  font: 1.6rem 'Times New Roman', Arial, sans-serif;

  color: white;
  background: black;
}

a {
  cursor: pointer;
  text-decoration: none;

  color: white;
}
