<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      The following 2 meta tags *must* come first in the <head>
      to consistently ensure proper document rendering.
      Any other head element should come *after* these tags.
    -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BalmJS</title>

    <!-- Theme Color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#2196f3" />

    <!-- Short description of the document (limit to 150 characters) -->
    <!-- This content *may* be used as a part of search engine results. -->
    <meta
      name="description"
      content="BalmJS - A flexible Front-End workflow for any webapps"
    />

    <!-- Control the behavior of search engine crawling and indexing -->
    <!-- All Search Engines -->
    <meta name="robots" content="index,follow" />
    <!-- Google Specific -->
    <meta name="googlebot" content="index,follow" />

    <!-- Helps prevent duplicate content issues -->
    <link rel="canonical" href="https://balm.js.org/" />

    <!-- Links to a JSON file that specifies "installation" credentials for the web applications -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.webmanifest" />

    <!-- RealFaviconGenerator - https://realfavicongenerator.net/ -->

    <!-- For IE 10 and below -->
    <!-- Place favicon.ico in the root directory - no tag necessary -->
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico" />

    <!-- Icon in the highest resolution we need it for -->
    <link
      rel="icon"
      sizes="128x128"
      href="%PUBLIC_URL%/images/icons/icon-128x128.png"
    />

    <!-- Launch Icon (180x180px or larger) -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="%PUBLIC_URL%/images/icons/apple-touch-icon.png"
    />

    <!-- Safari Pinned Tab Icon -->
    <link
      rel="mask-icon"
      href="%PUBLIC_URL%/images/icons/safari-pinned-tab.svg"
      color="#5bbad5"
    />

    <!-- Points to an external stylesheet -->
    <link rel="stylesheet" href="%PUBLIC_URL%/styles/main.css" />
  </head>

  <body>
    <header>
      <h1 class="logo"><a href="//balm.js.org/" title="BalmJS">BalmJS</a></h1>
      <p class="description">A flexible Front-End workflow</p>
    </header>

    <nav class="top-nav">
      <a href="/docs/">📃 Docs</a>
      <a href="//material.balmjs.com/" target="_blank" rel="noopener"
        >🎨 BalmUI</a
      >
      <a
        href="https://github.com/balmjs/balm"
        target="_blank"
        rel="noopener"
        aria-label="Learn more about BalmJS"
      >
        <svg
          aria-hidden="true"
          class="octicon octicon-mark-github"
          height="32"
          version="1.1"
          viewBox="0 0 16 16"
          width="32"
        >
          <path
            fill-rule="evenodd"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          ></path>
        </svg>
      </a>
    </nav>

    <main class="content">
      <section>
        <h2>️<i>🎉</i>Features</h2>
        <ul class="feature-list">
          <li>
            <strong class="gulp">gulp</strong> +
            <strong class="webpack">webpack</strong> for any webapp projects
          </li>
          <li>Automagically compile PostCSS/Sass/Less</li>
          <li>CSS Autoprefixing</li>
          <li>Automagically generation CSS sprites</li>
          <li>enable ES2015+ features using Babel</li>
          <li>Awesome images optimization</li>
          <li>Built-in preview server with BrowserSync</li>
          <li>
            Custom publish assets to remote (Front-end to Back-end) project
          </li>
          <li>ZIP/FTP/PWA supported</li>
        </ul>
      </section>

      <section>
        <h2 id="install">️<i>⚡</i>Installation</h2>
        <div class="your-device">
          <div class="computer">
            <div class="terminal">
              <div class="editor-window cli">
                <pre class="active" id="automatic-code"><code>
<span class="editor-prefixed">npm install --global balm-cli</span>
<span class="hljs-comments"># See all available official templates</span>
<span class="editor-prefixed">balm list</span>

<span class="editor-prefixed">balm init &lt;template-name&gt; &lt;project-name&gt;</span>
<span class="editor-prefixed">cd &lt;project-name&gt;</span>
<span class="editor-prefixed">npm install</span>
<span class="hljs-comments"># OR `yarn`</span>

<span class="hljs-comments"># For development</span>
<span class="editor-prefixed">npm run dev</span>

<span class="hljs-comments"># For production</span>
<span class="editor-prefixed">npm run prod</span>

</code></pre>
                <pre id="manual-code"><code>
<span class="editor-prefixed">cd /path/to/workspace</span>

<span class="editor-prefixed">mkdir my-project &amp;&amp; cd my-project</span>
<span class="editor-prefixed">npm install --save-dev gulp balm</span>
<span class="hljs-comments"># OR `yarn add --dev gulp balm`</span>

<span class="hljs-comments"># Config balm</span>
<span class="editor-prefixed">touch gulpfile.js</span>

<span class="hljs-comments"># For development</span>
<span class="editor-prefixed">gulp</span>

<span class="hljs-comments"># For production</span>
<span class="editor-prefixed">gulp --production</span>

</code></pre>
              </div>
            </div>
          </div>
        </div>
        <ul class="tabs">
          <li class="active" data-type="automatic">Automatic</li>
          <li data-type="manual">Manual</li>
        </ul>
      </section>

      <section>
        <h2 id="config"><i>⚙</i>Configuration</h2>
        <div class="editor-window">
          <div class="editor-menubar">
            <span class="editor-button close"></span>
            <span class="editor-button minimize"></span>
            <span class="editor-button maximize"></span>
            <span class="editor-filename">gulpfile.js</span>
          </div>
          <pre
            class="language-javascript active"
            id="basic-code"
          ><code class="language-javascript">
<span class="token keyword">const</span> balm = <span class="token function-variable function">require</span>(<span class="token string">'balm'</span>);

balm.config = {
  roots: {
    source: <span class="token string">'src'</span> <span class="token comment">// Source code root (Create a directory in project)</span>
  },
  styles: {
    extname: <span class="token string">'css'</span> <span class="token comment">// Main style extension: css,scss,less</span>
  },
  scripts: {
    entry: <span class="token string">'./src/scripts/index.js'</span> <span class="token comment">// The entry script (Create a javascript file)</span>
  },
  assets: {
    root: <span class="token string">'/path/to/your_remote_project'</span>, <span class="token comment">// Remote project root path</span>
    mainDir: <span class="token string">'public'</span> <span class="token comment">// Remote assets dir: '/path/to/your_remote_project/public'</span>
  }
};

balm.<span class="token function-variable function">go</span>(<span class="hljs-function"><span class="hljs-params">mix</span> <span class="token keyword">=></span> </span>{
  <span class="token keyword">if</span> (balm.config.env.isProd) {
    <span class="token comment">// Publish assets(styles,scripts,images,fonts,media)</span>
    <span class="token comment">// from local `${roots.target}/{css,js,img,font,media}`</span>
    <span class="token comment">// to remote `${assets.root}/${assets.mainDir}`</span>
    mix.<span class="token function-variable function">publish()</span>;

    <span class="token comment">// Publish html templates</span>
    <span class="token comment">// from local `${roots.target}/index.html`</span>
    <span class="token comment">// to remote `${assets.root}/public/index.html`</span>
    mix.<span class="token function-variable function">publish</span>(<span class="token string">'index.html'</span>, <span class="token string">'public'</span>);
  }
});

</code></pre>
          <pre
            class="language-javascript"
            id="advanced-code"
          ><code class="language-javascript">
<span class="token keyword">const</span> balm = <span class="token function-variable function">require</span>(<span class="token string">'balm'</span>);

balm.config = {
  server: {
    open: true,
    proxyConfig: {
      context: '/api',
      options: {
        target: <span class="token string">'http://your.project.dev'</span>, <span class="token comment">// Target host</span>
        changeOrigin: <span class="token keyword">true</span> <span class="token comment">// Needed for virtual hosted sites</span>
      }
    }
  },
  roots: {
    source: <span class="token string">'src'</span> <span class="token comment">// Source code root (Create a directory in project)</span>
  },
  paths: {
    source: {
      css: <span class="token string">'styles'</span>, <span class="token comment">//   CSS dir: ./src/styles</span>
      js: <span class="token string">'scripts'</span>, <span class="token comment">//    JS dir: ./src/scripts</span>
      img: <span class="token string">'images'</span>, <span class="token comment">// Image dir: ./src/images</span>
      font: <span class="token string">'fonts'</span>  <span class="token comment">//  Font dir: ./src/fonts</span>
    }
  },
  styles: {
    extname: <span class="token string">'css'</span>, <span class="token comment">// Main style extension: css,scss,less</span>
    sprites: [<span class="token string">'icons'</span>] <span class="token comment">// Icons path: './src/images/icons'</span>
  },
  scripts: {
    entry: {
      <span class="token comment">// Custom vendors</span>
      <span class="token comment">// HTML: &lt;script src="<b>%PUBLIC_URL%</b>/scripts/vendor/mylib.js"&gt;&lt;/script&gt;</span>
      mylib: [
        <span class="token string">'your-project-vendors'</span>,
        <span class="token string">'your-project-plugins'</span>
      ],
      <span class="token comment">// The entry script (Create a javascript file)</span>
      main: <span class="token string">'./src/scripts/index.js'</span>
    }
  },
  assets: {
    root: <span class="token string">'/path/to/your_remote_project'</span>, <span class="token comment">// Remote project root path</span>
    mainDir: <span class="token string">'public'</span>, <span class="token comment">// Remote assets dir: '/path/to/your_remote_project/public'</span>
    subDir: <span class="token string">''</span>, <span class="token comment">// Remote assets subdir: `/path/to/your_remote_project/public/${subDir}`</span>
    cache: <span class="token keyword">true</span>
  }
};

balm.<span class="token function-variable function">go</span>(<span class="hljs-function"><span class="hljs-params">mix</span> <span class="token keyword">=></span> </span>{
  <span class="token keyword">if</span> (balm.config.env.isProd) {
    <span class="token comment">// Publish assets(styles,scripts,images,fonts,media)</span>
    <span class="token comment">// from local `${roots.target}/{css,js,img,font,media}`</span>
    <span class="token comment">// to `${assets.root}/${assets.mainDir}/${assets.subDir}`</span>
    mix.<span class="token function-variable function">publish()</span>;

    <span class="token comment">// Publish html templates</span>
    <span class="token comment">// from local `${roots.target}/index.html`</span>
    <span class="token comment">// to remote `${assets.root}/views/new-filename.blade.php`</span>
    mix.<span class="token function-variable function">publish</span>([
      {
        input: <span class="token string">'index.html'</span>,
        output: <span class="token string">'views'</span>,
        renameOptions: {
          basename: <span class="token string">'new-filename'</span>,
          suffix: <span class="token string">'.blade'</span>,
          extname: <span class="token string">'.php'</span>
        }
      }
    ]);
  }
});

</code></pre>
        </div>
        <ul class="tabs">
          <li class="active" data-type="basic">Basic</li>
          <li data-type="advanced">Advanced</li>
        </ul>
      </section>
    </main>

    <nav class="bottom-nav">
      <a href="/docs/">📃 Docs</a>
      <a href="//material.balmjs.com/" target="_blank" rel="noopener"
        >🎨 BalmUI</a
      >
      <a
        href="https://github.com/balmjs/balm"
        target="_blank"
        rel="noopener"
        aria-label="Learn more about BalmJS"
      >
        <svg
          aria-hidden="true"
          class="octicon octicon-mark-github"
          height="32"
          version="1.1"
          viewBox="0 0 16 16"
          width="32"
        >
          <path
            fill-rule="evenodd"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          ></path>
        </svg>
      </a>
    </nav>

    <footer>
      <p>
        Released under the
        <a
          href="https://opensource.org/licenses/MIT"
          target="_blank"
          rel="noopener"
          >MIT License</a
        >
      </p>
      <p>
        Copyright © 2016-present,
        <a href="http://elf-mouse.me/" target="_blank" rel="noopener"
          ><em>Elf-mousE</em></a
        >
      </p>
    </footer>

    <script src="%PUBLIC_URL%/scripts/index.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-174938400-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-174938400-1');
    </script>
  </body>
</html>
