.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  margin: 40px auto;
  &:first-child {
    margin-top: 20px;
    overflow: hidden; /* fix device.css bug */
  }
}

h2 {
  font-size: 1.8rem;
  padding: 10px;
  text-align: center;
}

pre {
  display: none;
  &:matches(.active) {
    display: block;
  }
}

.tabs {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  & li {
    font-size: 1.4rem;
    padding: 0 20px;
    list-style: none;
    cursor: pointer;
    text-align: center;
    border-right: 1px solid white;
    &:last-child {
      border-right: 0;
    }
    &.active {
      color: orange;
    }
  }
}
