footer {
  font-size: 1.2rem;

  padding-bottom: 10px;

  text-align: center;
  & a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.octicon {
  fill: currentColor;
}
