header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 8px 0;
  font-size: 1.6rem;

  p {
    font-style: italic;
    text-transform: capitalize;
    &::before {
      font-style: normal;
      margin-right: 0.4rem;
      content: ':';
    }
  }
}

.logo {
  font-family: 'Brush Script MT', Papyrus;
  font-size: 3rem;

  a {
    transition: all 0.2s;
    text-decoration: none;
    color: orange;
    &:hover {
      color: #e1f;
    }
  }
}

aside {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  margin: 0 auto;

  a {
    display: inline-flex;
    font-size: 1.6rem;
  }
}
