header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0.8rem 0;
  font-size: 1.6rem;

  p {
    font-style: italic;
    text-transform: capitalize;
    &::before {
      content: ':';
      margin-right: 0.4rem;
      font-style: normal;
    }
  }
}

.logo {
  font-family: 'Brush Script MT', Papyrus;
  font-size: 3rem;

  a {
    transition: color 0.2s;
    color: orange;
    &:hover {
      color: #e1f;
    }
  }
}
