.content {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.6rem 0;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.6rem;
  // max-width: 1080px;
  // margin: 40px auto;
  &:first-child {
    // margin-top: 20px;
    // overflow: hidden; /* fix device.css bug */
  }
}

h2 {
  font-size: 1.8rem;
  padding: 8px 0;
  text-align: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #eaecef;
}

pre {
  display: none;
  &.active {
    display: block;
  }
}

.tabs {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  & li {
    font-size: 1.4rem;
    padding: 0 20px;
    list-style: none;
    cursor: pointer;
    text-align: center;
    border-right: 1px solid white;
    &:last-child {
      border-right: 0;
    }
    &.active {
      color: orange;
    }
  }
}

.feature-list {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 2em;
}

.gulp {
  color: #ff8a80;
}

.webpack {
  color: #82b1ff;
}
